#b1ph{
	font-size: 60 ;
	margin-left: 100 ;
	margin-top: 60 ;
}
#d1{
	margin-left:100 ;
	font-size: 20 ;
	 
}
#d1{
	background-image: url(cookingoil.jfif) ;
	background-size: cover ;
	background-repeat: no-repeat ;
}
